@model int
<div class="widget widget-mini-two">
    <div class="media">
        <div class="icon ml-2">
            <p class="widget-text">Besin Değerleri</p>
            <p class="widget-numeric-value">@Model</p>
        </div>
        <div class="media-body">
            <a asp-controller="Nutrition" asp-action="CreateCustomerNutrition" class="btn d-block">Yeni</a>
        </div>
    </div>
</div>