@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CalorieTracker</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <link href="~/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/js/loader.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dark/plugins.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/light/authentication/auth-cover.css" rel="stylesheet" type="text/css" />

    <link href="~/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/dark/authentication/auth-cover.css" rel="stylesheet" type="text/css" />
</head>
<body class="form">
    @await Html.PartialAsync("_Loader")
    <div class="auth-container d-flex">
        <div class="container mx-auto align-self-center">
            <div class="row">
                <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
                    <div class="auth-cover-bg-image"></div>
                    <div class="auth-overlay"></div>
                    <div class="auth-cover">
                        <div class="position-relative">
                            <img src="~/assets/img/auth-cover.svg" alt="auth-img">
                            <h2 class="mt-5 text-white font-weight-bolder px-2">Join the community of expert developers</h2>
                            <p class="text-white px-2">It is easy to setup with great customer experience. Start your 7-day free trial</p>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>