<ul class="list-unstyled menu-categories" id="accordionExample">
    <li class="menu">
        <a asp-controller="Customer" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-solid fa-user-gear"></i>
                <span>Üye Bilgileri</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a asp-controller="Summary" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-regular fa-rectangle-list"></i>
                <span>Kalori Özeti</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a asp-controller="Menu" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-solid fa-plate-wheat"></i>
                <span>Menü Öğeleri</span>
            </div>
        </a>
    </li>
    <li class="menu">
        <a asp-controller="Customer" asp-action="Logout" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-solid fa-door-open"></i>
                <span>Güvenli Çıkış</span>
            </div>
        </a>
    </li>
</ul>