<ul class="list-unstyled menu-categories" id="accordionExample"> 
    <li class="menu">
        <a asp-controller="Customer" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-solid fa-user-gear"></i>
                <span>Üye Bilgileri</span>
            </div>
        </a>
    </li>
    <li class="menu">
        <a asp-controller="Summary" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-regular fa-rectangle-list"></i>
                <span>Kalori Özeti</span>
            </div>
        </a>
    </li>
    <li class="menu">
        <a href="#nutritionManagement" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-solid fa-plate-wheat"></i>
                <span>Besin Yönetimi</span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </div>
        </a>
        <ul class="collapse submenu list-unstyled" id="nutritionManagement" data-bs-parent="#accordionExample">
            <li>
                <a asp-controller="Menu" asp-action="Index">Besin Tipleri</a>
            </li>
        </ul>
    </li>
    <li class="menu">
        <a asp-controller="Customer" asp-action="Logout" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                <i class="fa-solid fa-door-open"></i>
                <span>Güvenli Çıkış</span>
            </div>
        </a>
    </li>
</ul>