@model NutritionTypeModel

<div class="row layout-top-spacing"> 
    <div class="col-6 layout-spacing">
        @await Html.PartialAsync("_BackToList")
    </div>
    <div class="col-6 layout-spacing text-end justify-content-end">
        <h6>Yeni Besin Tipi Ekle</h6>
    </div>
</div>
<div class="row layout-top-spacing">
  
</div>
<div class="row layout-top-spacing">
    <div class="col-12 layout-spacing">
        <form asp-controller="Menu"> 
            <div class="row mb-3">
                <label asp-for="Name" class="col-sm-2 col-form-label">Tip Adı</label>
                <div class="col-sm-10">
                    <input asp-for="Name" type="text" class="form-control"> 
                   
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>
