@model CalorieTracker.Models.NutritionModel

<form asp-action="Create">
    <button type="submit">Kaydet</button>
</form>
<form asp-action="Edit">
   
    <button type="submit">Güncelle</button>
</form>
