@model int
<div class="widget widget-mini-two">
    <div class="media">
        <div class="icon ml-2">
            <p class="widget-text">Besin Tipleri</p>
            <p class="widget-numeric-value">@Model</p>
        </div>
        <div class="media-body">
            <a asp-controller="Menu" asp-action="CreateNutritionType" class="btn d-block">Yeni</a>
            <a asp-controller="Menu" asp-action="ListNutritionType" class="btn d-block">Tümünü Göster</a>
        </div>
    </div>
</div>